<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ssdp" version="0.0.1">
  <name>Device</name>
  <description>Cordova SSDP Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,device,ssdp</keywords>
  <js-module src="www/ssdp.js" name="ssdp">
    <clobbers target="ssdp" />
  </js-module>
  
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="SSDP">
        <param name="android-package" value="com.things.factory.ssdp.SSDPLauncher" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    </config-file>

    <source-file src="src/com/things/factory/ssdp/Device.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/DeviceAndroid.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPClient.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPLauncher.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPMessage.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPResponse.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPSearch.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPServer.java" target-dir="src/com/things/factory/ssdp" />
    <source-file src="src/com/things/factory/ssdp/SSDPSocket.java" target-dir="src/com/things/factory/ssdp" />
  </platform>
</plugin>